.listingsContainer {
    padding: 0.8em;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #edededab
}

.listingsContainer:hover {
    background-color: #ededed4b;
    transition-duration: 0.3s;
    color: rgba(0, 0, 0, 0.683);
}

.propertyImage {
    border-radius: 5px;
}